<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Red Pill or Blue Pill</title>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<main>
			<h1>Which will you take?</h1>
			<button id="red">Red Pill</button>
			<button id="blue">Blue Pill</button>
			<div id="messages"></div>
		</main>
		<script>
			// send a fetch with a post that has a string object to some URL endpoint
			const redbtn = document.getElementById("red");
			const bluebtn = document.getElementById("blue");
			const msgArea = document.getElementById("messages");

			function getLog() {
				const response = fetch("/log")
					.then((response) => {
						if (!response.ok) {
							throw new Error(`Error: ${response.status}`);
						}
						return response.text();
					})
					.then((text) => {
						msgArea.textContent = text;
					});
			}

			setInterval(getLog, 120000);

			const sendRedEvent = async (e) => {
				e.preventDefault();
				const reqOption = {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({
						message: "Red button clicked.",
					}),
				};
				const response = await fetch("/log", reqOption);
			};

			const sendBlueEvent = async (e) => {
				e.preventDefault();
				const reqOption = {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({
						message: "Blue button clicked.",
					}),
				};
				const response = await fetch("/log", reqOption);
			};

			redbtn.addEventListener("click", sendRedEvent);
			bluebtn.addEventListener("click", sendBlueEvent);
		</script>
	</body>
</html>
